{{#css '/stylesheets/detail.css'}}{{/css}}
<main>
  <div class="container">
    <div class="row">
      <div class="food-img">
        <img src="{{detailInfo.Image}}" alt="">
        <div class="info">
          <div class="cooking-time">
            <p>Cookingtime</p>
            <p>{{detailInfo.Cooking_Time}} minutes</p>
          </div>
          <div class="servings">
            <p>Servings</p>
            <p>{{detailInfo.Servings}}</p>
          </div>
          <div class="calories">
            <p>Calories</p>
            <p>{{detailInfo.Calories}}/serving</p>
          </div>
        </div>
      </div>
      <div class="food-content">
        <div class="food-title h1 theme">{{detailInfo.Title}}</div>
        <p class="food-included">
          {{detailInfo.Included}}
        </p>
        <p class="food-desc"> {{detailInfo.Description}}</p>
      </div>
      {{!-- <a href='/detail/addToCart/{{detailInfo._id}}'>
        <button class="addBtn">Add to order</button>
      </a> --}}
      <form action="/detail/addToCart" method="POST">
        <input type="hidden" name="_id" value="{{detailInfo._id}}">
        <div class="formgroup">
          <label for="">Number: </label>
          <input type="text" name="order_count" required>
        </div>
        <div class="formgroup">
          <button class="addBtn">Add to order</button>
        </div>
      </form>
    </div>
  </div>
</main>